<h2> Productssssss List </h2>
{{#each productList}}
<ul>
    <li>{{this.title}}</li>
    <li>{{this.price}}</li>
    <img src={{this.thumbnail}} alt={{this.title}}>
</ul>
{{/each}}
{{#if emptyList}}
    <h4>No products found</h4>
{{/if}}