<div id="chat">
{{#each chatData}}
    <div>
        <strong style='color:blue'> {{this.email}}</strong>
        <span style='color:brown'>{{this.date}}: </span>
        <em style='color:green'> {{this.message}} </em>
    </div>
{{/each}}
</div>