<h2> Products List </h2>
{{#each productsData}}
<ul>
    <li>{{this.title}}</li>
    <li>{{this.price}}</li>
    <img src={{this.thumbnail}} alt={{this.title}}>
</ul>
{{/each}}
{{#unless productsData}}
    <h4>No products found</h4>
{{/unless}}