<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div class="container">
        <h1>Register user</h1>
        <br>
        <form action="/register" method="post" autocomplete="off">
            <div class="form-group">
                <label for="name">Enter your name</label>
                <input id="name" class="form-control" type="text" name="name" required>
                <label for="email">Enter your email</label>
                <input id="email" class="form-control" type="email" name="email" required>
                <label for="password">Enter your password</label>
                <input id="password" class="form-control" type="password" name="password" required>
            </div>
            <button>Send</button>
        </form>
        <h2>Already registered? Please login
            <a href="/login">
                <button>HERE</button>
            </a>
        </h2>
    </div>
</body>
</html>